 <div>
    <form name="configuracaoForm">
        <div layout-gt-sm="row">
            <div flex="5" hide-xs hide-sm>
              <!-- Spacer //-->
            </div>

            <h3 style="color:#000080">Configuração de Envio</h3>
        </div>

        <div layout-gt-sm="row">
            <div flex="5" hide-xs hide-sm>
              <!-- Spacer //-->
            </div>

            <md-input-container flex class="md-block" flex-gt-sm>
              <input ng-model="item.nome" type="text" placeholder="Nome:"/>
            </md-input-container>

            <div flex="5" hide-xs hide-sm>
              <!-- Spacer //-->
            </div>

            <md-input-container flex class="md-block" flex-gt-sm>
              <input ng-model="item.url" type="text" placeholder="Url:"/>
            </md-input-container>

            <div flex="5" hide-xs hide-sm>
              <!-- Spacer //-->
            </div>
        </div>

        <div layout-gt-sm="row">

            <div flex="5" hide-xs hide-sm>
              <!-- Spacer //-->
            </div>

            <md-input-container flex class="md-block" flex-gt-sm>
              <input ng-model="item.xmlraiz" type="text" placeholder="XmlRaiz:"/>
            </md-input-container>

            <div flex="5" hide-xs hide-sm>
              <!-- Spacer //-->
            </div>

            <md-input-container flex class="md-block" flex-gt-sm>
              <input ng-model="item.path" type="text" placeholder="Path:"/>
            </md-input-container>

            <div flex="5" hide-xs hide-sm>
              <!-- Spacer //-->
            </div>
        </div>

        <div layout-gt-sm="row">

            <div flex="5" hide-xs hide-sm>
              <!-- Spacer //-->
            </div>

            <md-input-container class="md-block" flex="30">
                <label>State</label>
                <md-select ng-model="user.state">
                  <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                    {{state.abbrev}}
                  </md-option>
                </md-select>
              </md-input-container>
        </div>
        <div layout-gt-sm="row" layout-align="center center">

               <md-button ng-click="gravar(item)" class="md-raised md-primary">Gravar</md-button>

             <div flex="2" hide-xs hide-sm>
              <!-- Spacer //-->
            </div>

            <md-button ng-click="voltar()" class="md-raised md-primary">Voltar</md-button>
        </div>
   </form>
</div>