 <div class="row">

     <form name="configuracaoForm" class="col s12">
        <div class="row">
            <h5 style="color:#4db6ac">Configuração de Envio</h5>
        </div>

        <div class="row">
            <div class="input-field col s6">
              <input ng-model="item.nome" id="nomeCofiguracao" type="text" class="validate">
              <label for="nomeCofiguracao">Nome:</label>
            </div>

            <div flex="5" hide-xs hide-sm>
              <!-- Spacer //-->
            </div>

            <div class="input-field col s6">
              <input ng-model="item.url" id="urlCofiguracao" type="text" class="validate">
              <label for="urlCofiguracao">Url:</label>
            </div>

        </div>

        <div class="row">

            <div class="input-field col s6">
              <input ng-model="item.xmlRaiz" id="xmlRaizCofiguracao" type="text" class="validate">
              <label for="xmlRaizCofiguracao">XmlRaiz:</label>
            </div>

            <div flex="5" hide-xs hide-sm>
              <!-- Spacer //-->
            </div>

            <div class="input-field col s6">
              <input ng-model="item.path" id="pathCofiguracao" type="text" class="validate">
              <label for="pathCofiguracao">Path:</label>
            </div>

        </div>

        <div class="row">
           <div class="input-field col s12">

               <select ng-model="state.abbrev" ng-options="state.abbrev for state in states">
                  <option value="">Selecione um estado</option>
               </select>
               <label>Estados</label>
           </div>

        </div>

        <div class="row center">
           <a class="waves-effect teal lighten-2 btn" ng-click="gravar(item)"><i class="material-icons left">save</i>Gravar</a>
           <a class="waves-effect teal lighten-2 btn" ng-click="voltar()"><i class="material-icons left">arrow_back</i>Voltar</a>
        </div>
   </form>

</div>