<div class="row">
   <nav class="teal lighten-2">
       <div class="nav-wrapper">
            <ul class="left hide-on-med-and-down">
               <li><a><i class="material-icons">menu</i></a></li>
               <li>
                 <div align="left">
                    <font size="5px">CRUD Projeto SIG</font>
                 </div>
               </li>
            </ul>
            <div>
            <div class="card-image center">
               <img src="img/icons/tendencia.png"/>
            </div>
      </div>
   </nav>
</div>
