<div class="card-content">
   <div class="left">
      <h5 style="color:#4db6ac"> {{app}}</h5>
   </div>
   <div class="row">
      <form class="col s12">
         <table ng-table="tableParams" class="table table-condensed table-bordered table-striped" show-filter="true">
            <tr ng-repeat="configuracao in $data">
               <td title="'Ações'">

                 <div class="layout-gt-sm-row">
                     <a ng-click="edit($index)" title="Editar registro." class="btn-floating"><i class="material-icons">edit</i></a>
                     <div flex="5" hide-xs hide-sm>
                       <!-- Spacer //-->
                     </div>
                     <a ng-click="delete($index)" title="Excluir registro." class="btn-floating"><i class="material-icons">delete</i></a>
                  </div>

               </td>
               <td title="'Nome'" filter="{ nome: 'text'}" sortable="'nome'">
                  {{configuracao.nome}}
               </td>
               <td title="'Url'" filter="{ url: 'text'}" sortable="'url'">
                  {{configuracao.url}}
               </td>
               <td title="'XmlRaizrl'" filter="{ url: 'text'}">
                  {{configuracao.xmlRaiz}}
               </td>
               <td title="'Path'" filter="{ url: 'text'}">
                  {{configuracao.path}}
               </td>
            </tr>
         </table>
      </form>
   </div>
   <div class="card-action center">
      <a class="waves-effect teal lighten-2 btn" ng-click="novo()"><i class="material-icons left">library_add</i>Novo</a>
   </div>
</div>