<div>
   <div layout-gt-sm="row">
      <h3 style="color:#000080"> {{app}}</h3>
   </div>
   <div class="row">
      <table ng-table="tableParams" class="table table-condensed table-bordered table-striped" show-filter="true">
         <tr ng-repeat="configuracao in $data">
            <td >
               <div layout-gt-sm="row">
                  <md-button ng-click="edit($index)" class="md-icon-button" aria-label="Settings" title="Editar registro.">
                     <md-icon md-svg-icon="img/icons/edit.svg"></md-icon>
                  </md-button>
                  <md-button ng-click="delete($index)" class="md-icon-button" aria-label="Settings" title="Editar registro.">
                     <md-icon md-svg-icon="img/icons/delete.svg"></md-icon>
                  </md-button>
               </div>
            </td>
            <td title="'Nome'" filter="{ nome: 'text'}" sortable="'nome'">
               {{configuracao.nome}}
            </td>
            <td title="'Url'" filter="{ url: 'text'}" sortable="'url'">
               {{configuracao.url}}
            </td>
            <td title="'XmlRaizrl'" filter="{ url: 'text'}">
               {{configuracao.xmlRaiz}}
            </td>
            <td title="'Path'" filter="{ url: 'text'}">
               {{configuracao.path}}
            </td>
         </tr>
      </table>
   </div>

   <div layout-gt-sm="row" ng-click="novo()" layout-align="center center">
      <md-button class="md-raised md-primary">Novo</md-button>
   </div>
</div>